* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1F2937;
    margin: 0;
    padding: 15px 0;
    gap: 16%;
}

.navbar p {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

ul a {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 190px;
    background: #1F2937;
    gap: 15%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.left .title {
    font-size: 47px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left .subtext {
    font-size: 18px;
    color: rgb(187, 187, 187);
    margin: 10px 0;
}

.left button {
    width: 23%;
    color: white;
    background: #3882F6;
    border: none;
    border-radius: 5px;
    height: 32px;
    font-weight: bold;
    font-size: 15px;
}

.left button:hover {
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: center;
    flex: 1;
}

.right img {
    object-fit: contain;
    max-width: 100%;
}

/* Information */
.build-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 0px;
}

.builds {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
    padding-bottom: 115px;
    gap: 25px;
}

.builds img {
    width: 75%;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.build {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.build p {
    font-size: 22px;
    font-weight: bolder;
}

/* Quote */
.quote {
    background: #E5E7EB;
    font-size: 40px;
    font-style: italic;
    color: #1F2937;
    padding: 125px;
}

/* Sign Up */
.signup {
    padding: 125px;
}

.action-content {
    background: #3882F6;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.action {
    display: flex;
    flex-direction: column;
}

.action h3 {
    font-size: 30px;
    font-weight: bold;
}

.action p {
    font-size: 24px;
    color: rgb(229, 229, 229);
}

.action-button {
    width: 12%;
    color: white;
    background: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.action-button:hover {
    cursor: pointer;
}

/* Footer */
.footer {
    background: #1F2937;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}